.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.yellowBorder :focus{

  box-shadow: none;
  border: 2px solid #efd710;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
}

.search input{
  text-indent: 10px;
  border: 2px solid #d6d4d4;
  height: 50px;

}
.search input:focus{

box-shadow: none;
border: 2px solid #efd710;
}

input[type="search"] {
  font-family: FontAwesome;
}

.btn-primary, .btn-outline-primary {
  background-color: #1028EF !important;
  border-color: #1028EF !important;
}