.button-container {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.button-container:hover {
  opacity: 0.8;
}

.default {
  background-color: #ffc107;
  color: black;
}

.google-sign-in {
  background-color: #1028EF;
  color: white;
}
  
  